<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroStock Forecast</title>
    <link rel="stylesheet" tpye="text/css" href="{{ url_for('static',filename='styles/w3.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
          <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
          <!-- Right-sided navbar links -->
          <div class="w3-right w3-hide-small">
            <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
            <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
            <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
            <a href="{{ url_for('stock_predictions') }}" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PREDICTIONS</a>
            <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
          </div>
          <!-- Hide right-floated links on small screens and replace them with a menu icon -->
      
          <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
    </div>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-white" style="padding:48px">
            <span class="w3-jumbo w3-hide-small">NeuroStock Forecast</span><br>
            <span class="w3-xxlarge w3-hide-large w3-hide-medium">NeuroStock</span><br>
            <span class="w3-large">Use our AI to see how a stock will perform.</span>
            <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
        </div> 
    </header>

    <!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
    <h3 class="w3-center">ABOUT THE COMPANY</h3>
    <p class="w3-center w3-large">Key features of our company</p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-quarter">
        <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
        <p class="w3-large">LTSM Model</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Passion</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Design</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
    </div>
  </div>

    <!-- Team Section -->
    <div class="w3-container" style="padding:128px 32px" id="team">
    <h3 class="w3-center">THE TEAM</h3>
    <p class="w3-center w3-large">The ones who runs this company</p>
        <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                <img src="/w3images/team2.jpg" alt="John" style="width:100%">
                    <div class="w3-container">
                    <h3>Jereme Yang</h3>
                    <p class="w3-opacity">Teammate 1</p>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
      
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
                    <div class="w3-container">
                    <h3>Loc Dinh</h3>
                    <p class="w3-opacity">Teammate 2</p>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                    </div>
                </div>
            </div>
      
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
          <div class="w3-container">
            <h3>Edwin Salcedo</h3>
            <p class="w3-opacity">Teammate 3</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
          </div>
        </div>
      </div>
      
  
      
    </div>
  </div>

  <!-- Input Section -->
<div class="w3-container w3-light-grey" style="padding:16px 16px" id="contact">
    <h3>Enter a ticker to view predictions and price trends</h3>
        <div class="search-box">
            <div class="row">
                <input type="text" id="input-box" placeholder="Search a Ticker"
                autocomplete="off">
                <button id="searchTicker"><img src="{{ url_for('static', filename='icons/search_icon.svg') }}" 
                    class="fa-solid fa-magnifying-glass"></img></button>
            </div>
            <div class="result-box">
                <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/buttonClicked.js') }}"></script>
      
      <!-- Image of location/map -->
      <!--img src="/w3images/map.jpg" class="w3-image w3-greyscale" style="width:100%;margin-top:48px"-->
    </div>
  </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    </footer>

</body>
</html>