.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border: 2rem solid black;
}

body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: left;
}